<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Waste Segregation</title>
    <style>
        body {
            background-color: black;
        }

        .tag {
            color: #ffffffbd;
            font-size: x-large;
            text-decoration: none;
        }

        ul li {
            margin-left: 20px;
        }

        ul li a:hover {
            font-size: xx-large;
        }

    </style>    
</head>

<body>

    <header>
        <nav>
            <ul style="display: flex; justify-content: flex-end;margin-right:1rem">
                <li><a class="tag" href="">Home</a></li>
                <li><a class="tag" href="">About</a></li>
                <li><a class="tag" href="">Join</a></li>
                <li><a class="tag" href="">Contact</a></li>
                <li><a class="tag" href="">Blog</a></li>
            </ul>
        </nav>
    </header>

    <div style="display: flex;">
        <h1 style="color:white;font-size: xxx-large;">ECOSORT REVOLUTION - </h1>
        <p style="color:white ; margin-bottom: 3px; margin-top: 2.7rem;margin-left: 1rem;font-size:xx-large"> Join Our Community for a Greener Future!</p>
        
    </div>
</body>





</html>