<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Segregation</title>

    <style>
        body {
            background-color: black;
        }
    </style>    

    

</head>

<body>
    <div style="display:flex">
        <div style="display: flex;flex-direction: column;">
            <p style="color:white; font-size: xx-large; margin-left:3vw">Click, Capture, Classify : <br> Witness the Power of Machine Recycling !</p>

        </div>
        <hr style="/*! margin-right: 3v; */margin-left: 13vw;/*! width: ; */height: 34vw;margin-top: 3rem;">
        <div style="display: none">
            <p style="color:white; font-size: xx-large; margin-left:3vw">Image In, Impact Out :<br> Automated Waste Segregation Live!</p>

        </div>

    </div>

</body>
</html>

