<!DOCTYPE html>
<html lang="en">
<head>
    <title>Waste Segregation</title>

    <style>
        body {
            background-color: black;
        }
        .tag {
            color: #ffffffbd;
            font-size: x-large;
            text-decoration: none;
        }

        ul li {
            margin-left: 20px;
        }

        ul li a:hover {
            font-size: xx-large;
        }


    </style>

</head>
<body>
    <header>
        <nav>
            <ul style="display: flex; justify-content: flex-end;margin-right:1rem">
                <li><a class="tag" href="{{url_for('home')}}">Home</a></li>
                <li><a class="tag" href="{{url_for('about')}}">About</a></li>
                <li><a class="tag" href="{{url_for('join')}}">Join</a></li>
                <li><a class="tag" href="{{url_for('contact')}}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div style="margin-left: 34vw;">
        <h1 style="color:white ;font-size: xxx-large;">Your Waste is in Safe Hands</h1>
    </div>
    <hr style="width: 89vw;margin-right: 5rem;">
    <div  style="display: flex;">
        <div>
            <img src="static\WhatsApp Image 2024-02-02 at 10.27.08 PM.jpeg" alt="Loading..." style="width: 32vw; margin-left: 7vw; margin-top: 3rem;">
    
        </div>
        <div style="width: 41vw;margin-top: 2rem;margin-left: 10vw;">
            <p style="color: white;font-size: larger">At ECOSORT, we are committed to build a better world through sustainable waste management. With our cutting-edge facility, we leverage state-of-the-art technology to process recyclable materials efficiently and minimize the amount of waste destined for landfills.<br><br>

                We don't just stop at processing waste – we actively engage with local communities, businesses, and organizations to raise awareness about the importance of sustainable waste management. Our commitment lies in providing time and cost-effective solutions by optimizing waste management processes.<br><br>
                Environmental sustainability is at the core of ECOSORT's values. We've implemented advanced computer vision technology to automatically detect and classify waste, distinguishing between recyclable and non-recyclable materials, ensuring precise sorting and reducing contamination in recycling streams. By automating the waste segregation process, ECOSORT makes it effortless for both individuals and businesses to actively contribute to a greener future while getting educated on proper waste disposal and promoting a sustainable environment.<br><br>

               Join ECOSORT in our mission to shape a sustainable and environmentally conscious society, where smart waste management paves the way toward a cleaner, greener and smarter future.</p>
        </div>

    </div>
    <hr style="width: 89vw;margin-right: 5rem;margin-top:3rem">
    

</body>
</html>
