<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>
        Waste Segregation

    </title>
    <style>
        body{
            background-color: black;
        }

        .text{
            color:#adacac;
            font-size:x-large;
    
        
        }
        .my-textarea{
            font-size:large;
            border-radius: 10px;
        }
        .but2{
            width: 12vw;
            height: 3vw;
            border-radius: 12px;
            font-size: x-large;
            color: black;
            background-color: aliceblue;
            cursor: pointer;
        }
        small{
            color:red
        }
        
    </style>

</head>
<body>
    <div style="display: flex;">
        <div>
            <h1 style="color:white;margin-left: 7vw;">Collaborate with ECOSORT : </h1>

        </div>
        <div style="margin-left:7px">
            <p style="font-size: xx-large;margin-top:1.3rem;color:white;text-decoration: underline;">Unite for a safer space to live in </p>

        </div>
    </div>
    <div style="display: flex;">
        <div>
            <img src="static\WhatsApp Image 2024-02-03 at 3.32.23 AM.jpeg" style="margin-left: 11vw;width: 317px; color:white;margin-top: 30px;border-radius: 43px;" alt="Loading...">

        </div>
        <div>
            <form method="POST" action="" style="margin-left: 12vw;margin-top: 2rem;">
                {{form.hidden_tag()}} 
                
                    <h3 style="color:#adacac;;font-size: xx-large;" >Personal Information</h3>
                    <div style="color:white;margin-bottom: 8px;">
                        {{form.full_name.label(class="text")}}
                        
                        <br>
                        {{form.full_name}}
                        {% if form.full_name.errors %}
                            {% for error in form.full_name.errors%}
                                <small>{{error}}</small>
                            {% endfor %} 
        
                        {% endif %}  
                    </div>
        
                    <div style="color:white ;margin-bottom: 13px;">
                        {{form.email.label(class="text")}}
                        <br>
                        {{form.email}}
                        <br>
                        {% if form.email.errors %}
                            
                            {% for error in form.email.errors%}
                                <small>{{error}}</small>
                            {% endfor %}    
                    
            
                        {% endif %}  
                    </div>
                    <div style="color:white;margin-bottom: 20px;">
                        {{form.phone.label(class="text")}}
                        <br>
                        {{form.phone}}
                        <br>
                        {% if form.phone.errors %}
                            
                            {% for error in form.phone.errors%}
                                <small>{{error}}</small>
                            {% endfor %}    
                    
            
                        {% endif %}  
                    </div>
                    <div style="color:white ;margin-bottom: 8px;display:flex;flex-direction: column;">
                        <div>
                            <h3 style="color:#adacac;;font-size: xx-large;margin-bottom:13px;" >Skills and Expertise</h3>

                        </div>
                        <div>
                            {{form.content(class="my-textarea")}}
                        <br>
                        {% if form.content.errors %}
                            
                            {% for error in form.content.errors%}
                                <small>{{error}}</small>
                            {% endfor %}    
                    
            
                        {% endif %}  

                        </div>
                        
                    </div>
                    <div style="color:white;margin-top: 3vw;">
                        <br>
                        {{form.submit(class="but2")}}  <!-- give a button with sign-up label -->
                    </div>
                    
                
        </div>
        
    </div>
    

</body>
</html>