<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Waste Segregation

    </title>
    <style>
        body{
            background-color: black;
        }
    </style>
    <script src="https://kit.fontawesome.com/7d8d0a07ed.js" crossorigin="anonymous"></script>
    
</head>


<body>
    <div style="margin-left: 6vw;margin-top:2rem">
        <h1 style="color:white;font-size: xxx-large;">Your Voice Matters!<br> Reach Us for Eco-friendly Conversations</h1>

    </div>
    <div style="display:flex">
        <div>
            <img src="static\WhatsApp Image 2024-02-03 at 3.35.02 PM.jpeg" alt="Loading...">

        </div>
        <div style="display:flex;flex-direction: column;margin-left: 7vw;margin-top: 4vw;">
            <p style="color:#c7c0c0;font-size: 38px;margin-bottom: 7px;">Contact us at : <br></p>
            <p style="color:white;font-size: x-large;margin-top: 0;margin-left: 3vw;">ecosort@gmail.com<br>ecosort_hub@gmail.com</p>
            <hr style="width: 30vw;/*! margin-right: 51vw; */margin-left: -4vw;">
            <div>
                <p style="color:#c7c0c0;font-size: 38px;margin-bottom: 1.5vw;">Follow us : <br></p>
                <i class="fa-brands fa-linkedin fa-2xl" style="color: white;margin-left: 3vw;cursor:pointer"></i>
                <i class="fa-brands fa-instagram fa-2xl" style="color: white;margin-left: 1vw;cursor:pointer"></i>
                <i class="fa-brands fa-facebook-f fa-2xl" style="color: white;margin-left: 1vw;cursor:pointer"></i>
                <i class="fa-brands fa-twitter fa-2xl" style="color: white;margin-left: 1vw;cursor:pointer"></i>
    
            </div>
        </div>
      
    </div>

</body>













</html>