<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Waste Segregation</title>
    <style>
        body {
            background-color: black;
        }

        .tag {
            color: #ffffffbd;
            font-size: x-large;
            text-decoration: none;
        }

        ul li {
            margin-left: 20px;
        }

        ul li a:hover {
            font-size: xx-large;
        }
    </style>
</head>

<body>

    <header>
        <nav>
            <ul style="display: flex; justify-content: flex-end;margin-right:1rem">
                <li><a class="tag" href="{{url_for('home')}}">Home</a></li>
                <li><a class="tag" href="{{url_for('about')}}">About</a></li>
                <li><a class="tag" href="{{url_for('join')}}">Join</a></li>
                <li><a class="tag" href="{{url_for('contact')}}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div style="display: flex;">
        <h1 style="color:white;font-size: xxx-large;margin-left: 7vw;">ECOSORT REVOLUTION - </h1>
        <p style="color:white ; margin-bottom: 3px; margin-top: 2.7rem;margin-left: 1rem;font-size:xx-large"> Join Our
            Community for a Greener Future!</p>

    </div>
    <div style="display:flex;flex-direction: column;">
        <div style="display:flex;margin-bottom: 2rem;">
            <div>
                <img style="margin-left:12vw;border-radius:50px;margin-top:2rem" src="static\WhatsApp Image 2024-02-02 at 9.38.55 PM.jpeg" width="250px" height ="250px" alt="Loading...">

            </div>
            <div style="display: flex;flex-direction: column;">
                <h3 style="color:white ;margin-left: 34vw;margin-bottom: 0px;font-size: xxx-large;"> As a Supporter</h3>
                <div style="margin-left: 30vw;margin-bottom: 0px;">
                    <p style="color:white ;font-size: xx-large;">
                        Contribute to waste segregation <br> efforts by optimizing our <br> Solution.

                    </p>
                </div>
                <button style="width: 9vw;height: 2.5rem;font-size: x-large;margin-left:39vw"> <a style="text-decoration: none;color:black" href="">Support us</a></button>
                <hr style="width: 90vw;margin-left: -20rem;margin-top: 3rem;">
            </div>
            
        </div>
        <div style="display:flex;margin-bottom: 2rem;">
            <div>
                <img style="margin-left:12vw;border-radius:50px;margin-top: 3rem;" src="static\WhatsApp Image 2024-02-02 at 9.39.50 PM.jpeg" width="250px" height ="250px" alt="Loading...">

            </div>
            <div style="display: flex;flex-direction: column;">
                <h3 style="color:white ;margin-left: 36vw;margin-bottom: 0px;font-size: xxx-large;"> As a Partner</h3>
                <div style="margin-left: 30vw;margin-bottom: 0px;">
                    <p style="color:white ;font-size: xx-large;">
                        ECOSORT offers waste Segregation <br> solutions to local communities, <br> businesses
                        and organistaion to <br> reduce cost and time by <br> optimising  waste mangement <br> processes.

                    </p>
                </div>
                <button style="width: 12vw;height: 2.5rem;font-size: x-large;margin-left:39vw"><a style="text-decoration: none;color:black" href="{{url_for('partner')}}">Partner with us</a></button>
                <hr style="width: 90vw;margin-left: -20rem;margin-top: 3rem;">
            </div>
            
        </div>
        <div style="display:flex ;margin-top: 1rem;">
            <div>
                <img style="margin-left:12vw;border-radius:50px;margin-top:3rem" src="static\WhatsApp Image 2024-02-02 at 9.40.17 PM.jpeg" width="250px" height ="250px" alt="Loading...">

            </div>
            <div style="display: flex;flex-direction: column;">
                <h3 style="color:white ;margin-left: 34vw;margin-bottom: 0px;font-size: xxx-large;">As a Collaborator</h3>
                <div style="margin-left: 30vw;margin-bottom: 0px;">
                    <p style="color:white ;font-size: xx-large;">
                        Join our team of
                        passionate individuals<br>
                        working together towards
                        a greener and <br> safe space 
                        to live in.

                    </p>
                </div>
                <button style="width: 15vw;height: 2.5rem;font-size: x-large;margin-left:39vw"><a style="text-decoration: none;color:black"href="{{url_for('collaborate')}}">Collaborate with us</a></button>
            </div>
        </div>
        
    </div>
</body>





</html>