<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <title>Waste Segregation</title>

    <style>
        body {
            background-color: #000000;
            /* overflow: hidden; */
        }
    </style>    

</head>


<body>
    <div style="margin-bottom: 3vw;">
        <p style="color:white; font-size: 4vw; margin-left:3vw">
            Join the ECOSORT Movement : <br> Your Contribution, Our Cleaner Future!
        </p>

    </div>
    <div style="display: flex;">
        <div>
            <img style="margin-left:3vw" src="static\WhatsApp Image 2024-02-03 at 3.41.32 PM.jpeg" alt="Loading...">

        </div>

        <div style="margin-left:12vw;width: 41vw;">
            <p style="color:white;font-size: larger;">
                Are you passionate about sustainable waste management and want to actively contribute to a cleaner environment?<br><br>
               Join ECOSORT as a supporter and become a vital part of our mission to revolutionize waste segregation.<br><br> 
               As a supporter, you can access and contribute to our open-source GitHub repository, where our cutting-edge automated waste segregation system is available for exploration. Fork the repository to use our technology or optimize it further, leveraging your skills to contribute to the cause. 
               <br><br>By collaborating with us on GitHub, you play a crucial role in advancing the field of sustainable waste solutions.<br>
               Fork, code, and support—let's build a sustainable world together!

            </p>
            <button style="width:12vw;height:3vw;font-size: large;border-radius: 1vw;margin-left: 14vw;margin-top: 1vw;">Repository Link</button>

        </div>
    </div>


</body>


</html>


